<!DOCTYPE html>
<html>
<head>
    <title>Blogz</title>
    <style>
        h1{
            text-align: center;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class='container'>            
               <a href="/index">Home</a>&nbsp;&nbsp;<a href="/blog">Main Blog Page</a>&nbsp;&nbsp;
                <a href="/newpost">Write a new Blog Entry</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if session['username']%}
                <a href="/logout">Logout</a>
                {%else%}
                <a valign="right" href="/login">Login</a>
                {%endif%}
        </div>
    </nav>
    <div class='container'>
    <br>
    <br>
    <h1>{{header}}</h1>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}
    </div>
</body>
</html>